* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #091921;
}

.clock {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/pics/clock.png), url(/pics/js.png),
    radial-gradient(
      circle,
      rgb(37, 73, 90) 0%,
      rgb(25, 48, 60) 11%,
      rgba(9, 25, 33, 1) 38%
    );
  background-size: cover;
  box-shadow: 0 -15px 15px rgba(134, 134, 134, 0.35), inset 0 -15px 15px #191919,
    0 15px 15px rgba(134, 134, 134, 0.35), inset 0 15px 15px #191919;
  border-radius: 50%;
}
.clock:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  z-index: 999;
}

.clock .hour .clock .min .clock .sec {
  position: absolute;
}
